<section class="block block-showcase block--dark block--skewed-right">
  <header class="block__header">
    <h2>user friendly</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2.png 2x"
      />
      <img src="images/ipad.png" alt="" />
    </picture>
    <ul>
      <li class="list">
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy start & managed update</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad ex
              distinctio sit qui. Magni, nulla dolore quos exercitationem
              molestiae quaerat.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
